@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', sans-serif;
}
body{
    background-color: black;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background:rgb(0, 0, 0);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding:20px 100px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a {
    display: inline-block;
    color: #ffffff;
    font-weight: 10;
    margin-left: 11px;
    text-decoration: none;
    opacity: 0.8;
}
header li:hover{
    transform: translateY(-1px);
}

header ul li a:hover,
header ul li a.active
{
    background: #ff0000;
    color: #ffffff;
    border-radius: 9px;
}
.cor:hover{
    background-color: red;
    border-radius: 9px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: rgb(255, 254, 254);
    font-size: 2em;
    line-height: 1.7em;
    font-weight: 500;
}

.content .textBox span{
    color: red;
    font-size: 1.4em;
    font-weight: 900;
}
.content .textBox p{
    color: rgb(255, 255, 255);
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    margin-top: 40px;
    cursor: pointer;
}
.content img{
    width: 380px;
}
main h1{
    color: red;
    font-size: 3em;
    text-align: center;
    margin-top: -1em;
}
.habilidades{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
}
 .habilidades .cor{
    color: red;
    font-size: 30px;
 }
 .habilidades p{
    font-size: 25px;
    color: white;
    margin-left: .9em;
 }
.habilidades .img{
    width: 2em;
}

.habilidades .video{
    width: 20em;
    height: 20em;
    margin-left: 30em;
    margin-top: -11.5em;
}

 .habilidades .text-E{
    font-size: 25px;
    color: white;
    margin-left: .9em;
 }
.habilidades .img-E{
    width: 2em;
}
.habilidades .video-E{
    width: 20em;
    height: 20em;
    margin-left: 30em;
    margin-top: -14em;
}

.habilidades .text-C{
    font-size: 25px;
    color: white;
    margin-left: .9em;
 }
.habilidades .img-C{
    width: 2em;
}
.habilidades .video-C{
    width: 20em;
    height: 20em;
    margin-left: 30em;
    margin-top: -14em;
}

.habilidades .text-X{
    font-size: 25px;
    color: white;
    margin-left: .9em;
 }
.habilidades .img-X{
    width: 2em;
}
.habilidades .video-X{
    width: 20em;
    height: 20em;
    margin-left: 30em;
    margin-top: -14em;
}

#btn{
    margin-left: -90px;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 244, 244);
    font-style: italic;
  }